.arrow-button {
  height: 50px;
  width: 50px;
  border: 1px solid #ccc; /* Add border */
  background-color: #fff; /* Background color */
  cursor: pointer; /* Pointer cursor on hover */
  margin: 0 5px;
  border-radius: 50%; /* Space between buttons */
}

.arrow-button:disabled {
  background-color: #f0f0f0; /* Disabled button color */
  cursor: not-allowed; /* Not allowed cursor */
}

.pagination-container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  margin: 20px 0; /* Add some margin for spacing */
}

.pagination {
  display: flex; /* Use flexbox for pagination items */
  gap: 10px; /* Space between buttons */
}

.pagination button {
  height: 50px;
  width: 50px;
  border: 1px solid #ccc; /* Add border */
  background-color: #fff; /* Background color */
  cursor: pointer;
  border-radius: 50%; /* Text color for active button */
  /* Pointer cursor on hover */
}

.pagination button.active {
  background-color: #333; /* Active button color */
  color: white;
  border-radius: 50px; /* Text color for active button */
}

.pagination button:disabled {
  background-color: #f0f0f0; /* Disabled button color */
  cursor: not-allowed; /* Not allowed cursor */
}
